{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
<main class="home-container">
  <div class="home-inner-container">
    <div class="row">
      <div class="col-md-3 topics-container">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-all-header">
              <a class="home-all-catagories" href="{% url 'home' %}">
                All <i class="fa-solid fa-arrow-right"></i>
              </a>
            </h2>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Languages
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <a class="topic-item" href="{% url 'home' %}?q=0">All Languages <i class="fa-solid fa-arrow-right"></i></a>
              {% for topic in topics %}
                {% if topic.topic_related_to.related_to == 0 %}
                <a class="topic-item" href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }} <i class="fa-solid fa-arrow-right"></i></a>
                {% endif %}
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Frameworks
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <a class="topic-item" href="{% url 'home' %}?q=1">All Frameworks <i class="fa-solid fa-arrow-right"></i></a>
              {% for topic in topics %}
                {% if topic.topic_related_to.related_to == 1 %}
                <a class="topic-item" href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }} <i class="fa-solid fa-arrow-right"></i></a>
                {% endif %}
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Libraries
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <a class="topic-item" href="{% url 'home' %}?q=2">All Libraries <i class="fa-solid fa-arrow-right"></i></a>
              {% for topic in topics %}
                {% if topic.topic_related_to.related_to == 2 %}
                <a class="topic-item" href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }} <i class="fa-solid fa-arrow-right"></i></a>
                {% endif %}
              {% endfor %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Others
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                <a class="topic-item" href="{% url 'home' %}?q=3">All Other <i class="fa-solid fa-arrow-right"></i></a>
              {% for topic in topics %}
                {% if topic.topic_related_to.related_to == 3 %}
                <a class="topic-item" href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }} <i class="fa-solid fa-arrow-right"></i></a>
                {% endif %}
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 home-rooms-container">
        <form action="{% url 'home' %}" method="GET">
          {% csrf_token %}
          <input class="search-input" type="text" name="q" placeholder="Search rooms..." />
        </form>
        <div class="home-room-container">
          {% for room in rooms %}
          <div class="home-room">
            <div class="home-room-inner-first">
              <div>
                <img class="home-room-profile-img" src="{{ room.host.profile_image.url }}" alt="{{ room.host.username }}'s profile image">
                <h4>Host <span>@{{ room.host.username }}</span></h4>
              </div>
              <small>{{ room.created|timesince }} ago</small>
            </div>
            <div class="home-room-inner-second">
              <div>
                <h3>{{ room.name }}</h3>
                <small>{{ room.participants.all.count }} PARTICIPANT{% if room.participants.all.count > 1 %}S{% endif %}</small>
              </div>
              <div class="home-room-participant-container">
                {% for participant in room.participants.all %}
                  <img class="home-room-participant-img" src="{{ participant.profile_image.url }}" alt="{{ participant.username }}'s profile image">
                {% endfor %}
              </div>
            </div>
            <div class="home-room-inner-third">
              <div>
                <div>
                  <a href="{% url 'home' %}?q={{ room.topic.name }}">{{ room.topic.name }}</a><span> > </span><a href="{% url 'home' %}?q={{ room.room_related_to.id|subtract_one }}">{{ room.room_related_to }}</a>
                </div>
                <a class="home-room-dive-in" href="{% url 'room' room.id %}">Dive in <i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</main>
{% endblock content %}
