{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="landing-page-header">
    <img class="landing-page-img-left" src="{% static 'images/landing_page_left.png' %}" alt="">
    <img class="landing-page-img-right" src="{% static 'images/landing_page_right.png' %}" alt="">
    <img class="landing-page-hero-img" src="{% static 'images/landing_page_hero.jpg' %}">
    <h1>IMAGINE A PLATFORM...</h1>
    <p>...where you explore programming topics, join discussion rooms hosted by programmers, and connect with peers for learning and networking.</p>
    <div>
        {% if user.is_authenticated %}
            <a class="landing-page-dive-in" href="{% url 'home' %}">Dive into the sphere! <i class="fa-solid fa-arrow-up"></i></a>
        {% else %}
        <div class="landing-page-hero-auth-container">
            <a href="{% url 'register' %}">Register <i class="fa-solid fa-arrow-up"></i></a>
            <a href="{% url 'login' %}">Login <i class="fa-solid fa-arrow-up"></i></a>
        </div>
        {% endif %}
    </div>
</main>
<section id="explore-catagories-section">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h2>Explore catagories</h2>
        </div>
    </div>
</section>
{% endblock content %}