{% extends 'base.html' %}

{% block content %}
<main class="room-container">
    <div class="room-inner-container">
    <div class="row">
    <div class="col-md-8">
        <div class="room-info-container">
            <div>
                <a href="{% url 'home' %}"><i class="fa-solid fa-arrow-right"></i> Go back</a>
                <small>{{ room.created|timesince }} ago</small>
            </div>
            <div>
                <h3>{{ room.name }}</h3>
                <h4>{{ room.topic.name }}</h4>
            </div>
        </div>
        <div class="room-messages-container">
        {% for message in room_messages %}
            {% if message.body and not message.image %}
            <div class="message-container">
                <div class="message-container-first">
                    <div class="message-container-second">
                        <img class="room-message-image" src="{{ message.user.profile_image.url }}" alt="{{ message.user.username }}'s profile image">
                        <h4>{{ message.user.username }}</h4>
                        {% if message.user == room.host %}
                            <h4 class="message-room-host">Host</h4>
                        {% endif %}
                    </div>
                    <p class="message">{{ message.body }}</p>
                </div>
                <small>{{ message.created|timesince }} ago</small>
            </div>
            {% endif %}
            {% if message.image %}
            <div class="message-container">
                <div class="message-container-first">
                    <div class="message-container-second">
                        <img class="room-message-image" src="{{ message.user.profile_image.url }}" alt="{{ message.user.username }}'s profile image">
                        <h4>{{ message.user.username }}</h4>
                        {% if message.user == room.host %}
                            <h4 class="message-room-host">Host</h4>
                        {% endif %}
                    </div>
                    <p class="message-w-img">{{ message.body }}</p>
                    <img class="message-img" src="{{ message.image.url }}" alt="Message Image">
                </div>
                <small>{{ message.created|timesince }} ago</small>
            </div>
                
            {% endif %}
        {% endfor %}
    </div>
    <div class="message-form-container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.body }}
            <label for="custom-file-upload" class="custom-file-upload">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </label>
            <input id="custom-file-upload" type="file" style="display: none;" name="image">
            <button class="send-message-btn" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
</div>
    <div class="col-md-4">
        <div class="room-participants-container">
            {% for participant in participants %}
            <div class="room-participant">
                <div>
                    <img class="room-participant-img" src="{{ participant.profile_image.url }}" alt="{{participant.username}}'s profile image">
                    <h4>@{{ participant.username }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</main>
{% endblock content %}