{% extends 'base.html' %} {% load static %} {% block content %}
<main class="update-room-container">
  <div class="update-room-inner-container row">
    <div class="col-md-6">
      <img
        class="update-room-img"
        src="{% static 'images/landing_page_right.png' %}"
        alt=""
      />
    </div>
    <div class="col-md-6 update-room-form-container">
        <!-- Any errors will show up here  -->
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Room</button>
        </form>
    </div>
  </div>
</main>
{% endblock content %}
